<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="checkmark" id="check">✓</i>
    <h1 class="display-3" id="success">Logout Successful!</h1>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/" role="button">Go home</a>
  </div>
</div>

<%- include('partials/footer') %>